@import "./Variables.scss";

.original-game,
.bonus-game {
  position: relative;
  margin: 0 auto;
  background-size: contain;
  background-repeat: no-repeat;
}

.original-game {
  margin-top: 10%;
  background-image: url("/src/assets/images/bg-triangle.svg");
  width: 300px;
  height: 300px;

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 250px;
    margin-top: 30%;
  }
}

.bonus-game {
  margin-top: 5%;
  background-image: url("/src/assets/images/bg-pentagon.svg");
  width: 400px;
  height: 400px;

  @media screen and (max-width: 800px) {
    width: 250px;
    height: 250px;
    margin-top: 30%;
  }
}

.button {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  cursor: pointer;
  background-color: $game-button-bg-color;

  @media screen and (max-width: 800px) {
    width: 60px;
    height: 60px;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    @media screen and (max-width: 800px) {
      width: 30px;
      height: 30px;
    }
  }
}

.button-paper,
.button-paper-bonus {
  position: absolute;
  top: -70px;
  left: -60px;
  border: 20px solid $paper-border-color;
  box-shadow: 0px 7px 2px $box-shadow-color inset,
    0px 7px 0px $paper-shadow-color;

  @media screen and (max-width: 800px) {
    top: -20%;
    left: -10%;
  }
}

.button-paper-bonus {
  top: 60px;
  left: 330px;

  @media screen and (max-width: 800px) {
    left: 75%;
  }
}

.button-rock,
.button-rock-bonus {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border: 20px solid $rock-border-color;
  box-shadow: 0px 7px 2px $box-shadow-color inset,
    0px 7px 0px $rock-shadow-color;
}

.button-rock-bonus {
  left: 245px;
  bottom: -60px;
  margin: 0px;

  @media screen and (max-width: 800px) {
    left: 60%;
    bottom: -15%;
  }
}

.button-scissors,
.button-scissors-bonus {
  position: absolute;
  top: -70px;
  right: -60px;
  border: 20px solid $scissors-border-color;
  box-shadow: 0px 7px 2px $box-shadow-color inset,
    0px 7px 0px $scissors-shadow-color;

  @media screen and (max-width: 800px) {
    top: -20%;
    right: -10%;
  }
}

.button-scissors-bonus {
  top: -80px;
  right: 0px;
  left: 0px;
  margin: auto;

  @media screen and (max-width: 800px) {
    top: -20%;
  }
}

.button-lizard-bonus {
  position: absolute;
  bottom: -60px;
  left: -5px;
  border: 20px solid $lizard-border-color;
  box-shadow: 0px 7px 2px $box-shadow-color inset,
    0px 7px 0px $lizard-shadow-color;

  @media screen and (max-width: 800px) {
    bottom: -15%;
  }
}

.button-spock-bonus {
  position: absolute;
  top: 60px;
  left: -80px;
  border: 20px solid $spock-border-color;
  box-shadow: 0px 7px 2px $box-shadow-color inset,
    0px 7px 0px $spock-shadow-color;

  @media screen and (max-width: 800px) {
    left: -16%;
  }
}
