/* colors */
$general-bg-color: #182344;
$header-score-color: #1449c5;
$header-score-bg-color: #ffffff;
$score-counter-color: #3a4362;
$game-button-bg-color: #ffffff;
$game-round-color: #ffffff;
$game-round-button-color: #184fd1;
$win-lose-bg-color: #ffffff06;
$circle-1-bg-color: #ffffff0d;
$circle-2-bg-color: #ffffff13;
$footer-button-bg-color: #f3f2f2;
$footer-hover-color: #000000;
$rules-bg-color: #f3f0f0;

/* borders and shadows */
$header-border: 3px solid #606e86;
$box-shadow-color: #cccccc;
$scissors-border-color: #ec9f0f;
$scissors-shadow-color: #be7e08;
$paper-border-color: #4864f4;
$paper-shadow-color: #3a51c3;
$rock-border-color: #dc2f4e;
$rock-shadow-color: #b0263f;
$lizard-border-color: #7d4adc;
$lizard-shadow-color: #59349f;
$spock-border-color: #45b8cc;
$spock-shadow-color: #2a8bab;
$footer-button-border: 3px solid #ffffff;
